@media (max-width: 1200px){
  .container{
    max-width: 1100px;
  }
  .header-content{
    &__wrapper{
      padding: 50px 0;
    }
    &__inner{
      display: block;
      min-height: 500px;
    }
    &__items{
      max-width: 540px;
      margin: 0 auto 50px;
    }
    &__title,
    &__text{
      margin: 0 auto 20px;
    }
    &__video-inner{
      max-width: 500px;
      width: 100%;
      height: 300px;
      margin: 0 auto;
    }
    &__link-btn{
      display: block;
      max-width: 136px;
      text-align: center;
    }
  }
  .services{
    &--bg{
      background-size: 100%;
    }
  }
  .gallery{
    &--bg{
      background-size: 100%;
    }
  }
  .footer{
    &__logo{
      height: 60px;
    }
    &__link{
      font-size: 12px;
    }
  }
}

@media (max-width: 1080px){
  .container{
    max-width: 800px;
  }
  .title{
    &__text{
      font-size: 30px;
    }
  }
  .social{
    margin-left: 40px;
    margin-right: 0;
  }
  .header-content{
    &__video-inner{
      max-width: 400px;
      width: 100%;
      height: 200px;
    }
    &__video-box{
      max-width: 370px;
      width: 100%;
      height: 170px;
    }
  }
  .services{
    &__wrapper {
      padding: 60px 0;
    }
    &__box-img,
    &__img{
      height: 190px;
    }
    &--bg{
      background-size: 100%;
    }
  }
  .price{
    padding: 60px 0;
  }
  .tabs{
    &__btn{
      font-size: 14px;
    }
    &__item{
      font-size: 13px;
      padding-bottom: 15px;
    }
    &__item + .tabs__item{
      margin-top: 15px;
    }
  }
  .gallery{
    &__wrapper{
      padding: 60px 0;
    }
    &__btn{
      font-size: 15px;
      padding: 5px 10px;
      max-width: 200px;
    }
  }
  .using{
    padding: 40px 0;
    &__content{
      flex-wrap: wrap;
    }
    &__item{
      max-width: 30%;
      margin-bottom: 30px;
    }
    &__item-img{
      height: 70px;
      margin: 0 auto 28px;
    }
    &__item-text{
      font-size: 12px;
    }
    &__title{
      margin-bottom: 40px;
    }
  }
  .footer{
    &__contacts{
      display: block;
      width: 25%;
    }
    &__info-services{
      width: 43%;
    }
  }
}

@media (max-width: 860px){
  .services{
    &__items{
      flex-wrap: wrap;
    }
    &__item{
      width: 46%;
    }
  }
  .question{
    &__content-title{
      font-size: 22px;
    }
    &__content-text{
      font-size: 12px;
      line-height: 23px;
    }
  }
  .using{
    &__item{
      width: 175px;
    }
  }
  .footer{
    &__contacts{
      width: 35%;
    }
    &__info{
      width: 38%;
    }
    &__logo{
      height: 50px;
    }
    .social{
      &__link svg{
        height: 24px;
        width: 24px;
      }
    }
    &__list-title{
      font-size: 14px;
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 765px){
  .title{
    &__text::before{
      width: 60px;
      left: -10px;
    }
  }
  .container{
    padding: 0 40px;
  }
  .header-top{
    &.header-top--fixed{
      .header-top__contacts{
        padding: 10px 0;
      }
      .header-top__inner{
        background-color: $bg;
        padding-top: 50px;
      }
      .menu__item:hover{
        border-bottom: none;
      }
      .menu__item-link,
      .menu__link{
        color: #fff;
      }
      .header-top__logo{
        top: 2px;
      }
      .header-top__logo-img{
        height: 37px;
      }
    }
    &__tel{
      font-size: 13px;
    }
    &__info{
      display: none;
    }
    &__logo{
      z-index: 5;
    }
    &__logo-img{
      height: 50px;
    }
    &__inner{
      padding: 20px 0;
      position: absolute;
      width: 100%;
      top: -500px;
      transition: all .3s;
      &.header-top__inner--active{
        top: 0px;
        padding-top: 50px;
        z-index: 4;
      }
    }
  }
  .menu-btn{
    display: block;
    z-index: 5;
    margin-left: auto;
    &.menu-btn--active{
      transition: all 5s;
      height: 20px;
      span{
        opacity: 0;
      }
      &::before{
        transform: rotate(45deg);
        top: 50%;
      }
      &::after{
        transform: rotate(-45deg);
        width: 100%;
        top: 50%;
      }
      &::before,
      &::after{
        background-color: #fff;
        transition: all .5s;
      }
    }
  }
  .social{
    margin-right: 30px;
  }
  .menu{
    &__list{
      display: block;
      text-align: center;
    }
    &__item + .menu__item{
      margin-left: 0;
      margin-top: 10px;
    }
    &__item{
      border-bottom: none;
      &:hover{
        border-bottom: none;
      }
    }
    &__item--no-active.menu__item{
      display: block;
    }
    &__link,
    &__item-link{
      transition: all .3s;
      &:hover{
        border-bottom: 1px solid #fff;
      }
    }
  }
  .header-content{
    &__items{
      max-width: 450px;
    }
    &__title{
      font-size: 40px;
      max-width: 450px;
    }
    &__text{
      font-size: 16px;
      max-width: 450px;
    }
  }
  .info{
    &__items{
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item{
      font-size: 13px;
      width: 200px;
    }
    &__num-box{
      font-size: 30px;
    }
    &__item{
      margin: 0 0 30px;
      width: 35%;
    }
    &__num-box{
      margin-bottom: 5px;
    }
  }
  .services{
    &__box-img,
    &__img {
      height: 170px;
    }
    &__item-link{
      padding: 10px 20px;
    }
  }
  .question{
    &__inner{
      flex-direction: column;
      align-items: flex-start;
    }
    &__content{
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 688px;
    }
    &__content-text{
      max-width: 688px;
    }
  }
  .form-info{
    max-width: 70%;
    &__input,
    &__btn{
      width: 100%;
      height: 40px;
    }
  }
  .price{
    padding: 40px 0;
    &__title-box{
      margin-bottom: 30px;
    }
  }
  .tabs{
    &__top{
      margin-bottom: 0;
    }
  }
  .gallery{
    &__wrapper{
      padding: 40px 0;
    }
    &__title{
      margin-bottom: 30px;
    }
    &__content{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      grid-gap: 0 0;
      margin-bottom: 0;
    }
    &__img-link{
      max-width: 45%;
      margin-bottom: 30px;
      &:nth-child(1){
       display: none;
      }
      &:nth-child(even){
        margin-right: 30px;
      }
    }
  }
  .using{
    padding: 40px 0 10px;
  }
  .footer{
    &__info-services{
      display: block;
      width: 26%;
    }
    &__services{
      margin-bottom: 20px;
    }
    &__title{
      font-size: 14px;
      margin-bottom: 5px;
    }
    &__link{
      font-size: 11px;
      line-height: 15px;
      line-height: 11px;
    }
  }
}

@media (max-width: 550px){
  .header-top{
    &__tel{
      margin-right: 30px;
    }
  }
  .social{
    display: none;
  }
  .header-content{
    &__title{
      font-size: 30px;
    }
    &__text{
      font-size: 14px;
    }
    &__link-btn{
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  .services{
    &__box-img,
    &__img{
      height: 120px;
    }
    &__item-title{
      font-size: 13px;
    }
    &__wrapper {
      padding: 40px 0 20px;
    }
  }
  .tabs{
    &__top{
      flex-wrap: wrap;
      max-width: 60%;
    }
  }
  .gallery{
    &__img-link{
      height: 130px;
    }
    &__btn{
      font-size: 12px;
      max-width: 170px;
      padding: 0 10px;
    }
  }
  .using{
    &__content{
      display: block;
    }
    &__item{
      max-width: 100%;
      width: 130px;
      margin-bottom:10px;
      &:nth-child(even){
        margin-left: auto;
        margin-right: 15px;
      }
      &:nth-child(odd){
        margin-left: 15px;
      }
    }
    &__item-img{
      margin: 0 auto 20px;
    }
    .title__text{
      font-size: 27px;
    }
    &__title{
      margin-bottom: 30px;
    }
  }
  .footer{
    &__inner{
      display: block;
    }
    &__logo-social{
      text-align: center;
      margin-bottom: 20px;
    }
    &__logo{
      margin: 0 auto 8px;
    }
    .social{
      display: inline-block;
    }
    &__info-services{
      display: none;
    }
    &__contacts{
      display: flex;
      width: 100%;
    }
  }
}

@media (max-width: 440px){
  .container{
    padding: 0 25px;
  }
  .title{
    &__text{
      font-size: 25px;
    }
  }
  .header-top{
    &__contacts{
      justify-content: space-between;
    }
    &__tel{
      display: none;
    }
  }
  .social{
   display: none;
  }
  .header-content{
    &__video-inner{
      padding: 15px;
    }
  }
  .info{
    &__num-box{
      font-size: 27px;
    }
  }
  .services{
    &__item{
      width: 100%;
    }
    &__box-img,
    &__img{
      height: 170px;
      max-width: 375px;
    }
  }
  .form-info{
    max-width: 100%;
    &__input,
    &__btn{
      width: 100%;
      height: 40px;
    }
  }
  .tabs{
    &__top{
      max-width: 100%;
    }
  }
  .gallery{
    &__img-link{
      margin-bottom: 20px;
      height: 100px;
      &:nth-child(even){
        margin-right: 20px;
      }
    }
  }
  .using{
    .title__text{
      font-size: 21px;
      &::before{
        left: -3px;
      }
    }
    &__item{
      margin-bottom: 20px;
      &:nth-child(even){
        margin-right: 0;
      }
      &:nth-child(odd){
        margin-left: 0;
      }
    }
  }
  .footer{
    padding: 20px 0 10px;
    &__contacts{
      display: none;
    }
  }
}