@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header-top{
  &__contacts{
    padding: 5px 0;
    display: flex;
    align-items: center;
  }
  &__logo-img{
    padding: 5px;
  }
  &__info{
    margin-left: 65px;
    font-size: 13px;
  }
  &__info-link{
    display: block;
    color: $accent;
    margin-bottom: 5px;
  }
  &__tel{
    margin-left: auto;
  }
  &__tel-link{
    display: block;
    color: $accent;
  }
  &__tel-link + .header-top__tel-link{
    margin-top: 5px;
  }
  &__inner{
    background-color: $bg;
    padding: 8px 0;
  }
  .logo-link{
    display: none;
  }
  &__inner.header-top__inner--fixed{
    transition: all .3s;
    background-color: #A7D098;
    padding: 13px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    .logo-link{
      display: block;
      position: absolute;
      left: 15px;
    }
    .logo-img{
      height: 35px;
    }
    .menu__item{
      color: $accent;
      @extend %roboto-700;
      &:hover{
        border-bottom: 1px solid $accent;
      }
    }
  }
  &__items{
    display: flex;
    align-items: center;
    position: relative;
  }
}

.menu-btn{
  display: none;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    background-color: $bg;
    height: 2px;
    right: 0;
  }
  &::before{
    top: 0;
    width: 100%;
  }
  &::after{
    bottom: 0;
    width: 40%;
  }
  span{
    background-color: $bg;
    height: 2px;
    width: 60%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.menu{
  margin: 0 auto;
  &__list{
    display: flex;
    margin: 0 auto;
  }
  &__item{
    font-size: 14px;
    color: #fff;
    padding: 2px 3px;
    transition: all .3s;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
  &__item + .menu__item{
    margin-left: 50px;
  }
  &__item--no-active{
    display: none;
  }
  &__item-link,
  &__link{
    color: inherit;
  }
}

.social{
  margin-right: 45px;
  margin-left: 140px;
  &__link{
    margin-right: 10px;
    svg{
      fill: #3B5038;
      width: 20px;
      height: 20px;
      transition: all .3s;
    }
    &:hover{
      svg{
        fill: #1FC303;
      }
    }
  }
  &__link--facebook{
    svg{
      width: 12px;
    }
  }
}

.header-content{
  &__wrapper{
    background-color:rgba(93, 178, 79, 0.5);
  }
  &__inner{
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    @extend %roboto-700;
    font-size: 50px;
    color: #fff;
    max-width: 540px;
    margin-bottom: 20px;
  }
  &__text{
    max-width: 535px;
    @extend %monserrat-400;
    line-height: 25px;
    color: #333;
    margin-bottom: 20px;
  }
  &__link-btn{
    padding: 5px 25px;
    @extend %roboto-700;
  }
  &__video-inner{
    background-color: $accent;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__video-box{
    width: 430px;
    height: 250px;
    overflow: hidden;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer{
  padding: 35px 0;
  background-color: #A7D098;
  &__logo{
    height: 90px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  ul.footer__list{
    margin-bottom: 20px;
  }
  &__item{
    font-size: 15px;
    color: #333;
    line-height: 25px;
    margin-bottom: 7px;
    transition: all .3s;
    border-bottom: 1px solid transparent;
    a{
      color: #333;
    }
    &:hover{
      border-bottom: 1px solid #333;
    }
  }
  &__list-title{
    @extend %roboto-700;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  .social{
    margin: 0;
  }
  .social__link{
    svg{
      width: 50px;
      height: 40px;
    }
    path{
      transition: all .3s;
      fill: $bg;
    }
  }
  .social__link:hover{
    path{
      fill: #fff;
    }
  }
}

.info{
  padding: 40px 0;
  &__items{
    display: flex;
    justify-content: center;
  }
  &__item{
    @extend %monserrat-400;
    font-size: 15px;
    text-align: center;
    color: $accent;
    width: 260px;
    margin: 0 20px;
  }
  &__num-box{
    @extend %roboto-700;
    font-size: 35px;
    display: block;
    margin-bottom: 20px;
  }
}
.services--bg{
  background-image: url('../images/bg-2.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 70%;
}
.services{
  &__wrapper{
    padding: 85px 0;
  }
  &__title-box{
    margin-bottom: 50px;
  }  
  &__items{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    background-color: #fff;
    padding-bottom: 20px;
    margin: 0 30px 30px 0;
    width: 360px;
    height: 290px;
    position: relative;
    &:nth-child(3){
      margin: 0 0 30px 0;
    }
    &:nth-child(6){
      margin: 0 0 30px 0;
    }
  }
  &__box-img{
    max-width: 360px;
    width: 100%;
    height: 210px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 20px;
    position: relative;
    background-color:$default;
    &:hover{
      .services__img{
        opacity: 0.3;
      }
      .services__img-text{
        opacity: 1;
      }
    }
  }  
  &__img{
    width: 100%;
    height: 210px;
    transition: all .3s;
  }
  &__img-text{
    @extend %monserrat-700;
    font-size: 15px;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s;
  }
  &__item-title{
    @extend %monserrat-700;
    font-size: 15px;
    color: $accent;
    margin: 0 auto 20px;
    max-width: 232px; 
    text-align: center;
  }
  &__item-link{
    color: inherit;
  }
}

.arrow-fixed{
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 0;
  transition: all .3s;
  &--active{
    opacity: 0.7;
  }
}

.question{
  &__wrapper{
    background-color: $bg;
    padding: 20px 0;
  }
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__content{
    color: #fff;
    max-width: 420px;
    margin-right: 15px;
  }
  &__content-title{
    @extend %roboto-700;
    font-size: 25px;
    margin-bottom: 15px;
  }
  &__content-text{
    max-width: 295px;
    font-size: 15px;
    line-height: 30px;
  }
  .form-info__input-box--date,
  .form-info__input-box--addres{
    display: none;
  }
}

.form-info{
  max-width: 295px;
  width: 100%;
  position: relative;
 
  &__input{
    padding: 0 50px 0 25px;
    width: 295px;
    height: 30px;
    outline: $default;
    border: none;
    font-size: 12px;
    &::placeholder{
      color: #AABBA8;
    }
  }
  &__input + .form-info__input{
    margin-top: 20px;
  }
  &__btn{
    display: block;
    margin-top: 15px;
    background-color: #4D8245;
    padding: 5px 15px;
    width: 295px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #4D8245;
    cursor: pointer;
  }
  &__input-box{
    margin-top: 14px;
    display: flex;
    img{
      margin-left: -35px;
      z-index: 5;
      position: relative;
      width: 15px;
    }
  }
  &__img{
    height: 15px;
    margin-top: 10px;
  }
}

.datepicker-bottom-left,
.datepicker-bottom-right {
    border-bottom-color: $accent;
}

.datepicker-top-left,
.datepicker-top-right {
    border-top-color: $accent;
}

.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
    border-top-color: $accent;
}

.datepicker-top-left::before,
.datepicker-top-right::before {
    border-bottom-color: $accent;
}

.datepicker-panel>ul>li[data-view="years prev"],
.datepicker-panel>ul>li[data-view="year prev"],
.datepicker-panel>ul>li[data-view="month prev"],
.datepicker-panel>ul>li[data-view="years next"],
.datepicker-panel>ul>li[data-view="year next"],
.datepicker-panel>ul>li[data-view="month next"],
.datepicker-panel>ul>li[data-view="next"],
.datepicker-panel>ul>li[data-view="month current"]
 {
    background-color: $accent;
    color: #fff;
}

.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover {
    color: $accent;
    @extend %roboto-700;
    background-color: #dff7e4;
}

.datepicker-panel>ul>li.highlighted {
    background-color:  #dff7e4;
}

.datepicker-panel>ul>li:hover {
    background-color:#dff7e4;
}

.price{
  padding: 75px 0;
  &__title-box{
    margin-bottom: 55px;
  }
}

.tabs{
 max-width: 845px;
 width: 100%;
 &__top{
   display: flex;
 }
 &__btn{
   border-bottom: none;
   padding: 7px 10px;
   margin-right: 10px;
   margin-bottom: 30px;
   background-color: #E9F6E3;
   color: #333;
   font-size: 16px;
   text-align: center;
   cursor: pointer;
   outline: none;
 }
 &__btn--active{
   background-color: $bg;
   color: #fff;
 }
 &__content{
   background-color: #E9F6E3;
   padding: 20px;
 }
 &__content-items{
   display: none;
 }
 &__content-items.tabs__content-items--active{
   display: block;
 }
 &__item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 1px solid #807D7D;
   font-size: 15px;
   margin-top: 20px;
   &:first-child{
     margin-top: 0;
   }
   &:last-child{
     padding-bottom: 0;
     border-bottom: none;
   }
 }
 
}
.gallery--bg{
  background-image: url('../images/bg-3.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 60%;
}
.gallery{
  &__wrapper{
    padding: 80px 0;
  }
  &__title{
    margin-bottom: 50px;
  }
  &__content{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  &__img-link{
    display: block;
    max-width: 495px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    &:nth-child(1){
      grid-row: span 2;
      height: 440px;
      .gallery__img{
        height: 440px;
      }
    }
  }
  &__img-link--no-active{
    display: none;
  }
  &__img-link--no-active.gallery__img-link{
    display: block;
  }
  &__img{
    width: 100%;
    object-fit: cover;
  }
  &__btn{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: $bg;
    width: 300px;
    padding: 10px;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
  }
}

.buy{
  .form-info__input-box--date,
  .form-info__input-box--addres{
    display: inline-flex;
  }
}

.using{
  padding: 60px 0;
  &__title{
    margin-bottom: 55px;
  }
  &__content{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    text-align: center;
    width: 165px;
  }
  &__item-img{
    margin: 0 auto 40px;
    height: 144px;
  }
  &__item-text{
    @extend %roboto-700;
    font-size: 15px;
    line-height: 1.2;
  }
}













@import 'media';

